{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkedIn AI Rewrite</title>
    <link rel="icon" href="{% static './favicon.ico' %}" />

    <link rel="stylesheet" href="{% static './rewrite/style.css' %}" />
  </head>
  <body>
    <div class="post-box">
      <div class="header">
        <img
          src="{% static './rewrite/profile.png'%}"
          alt="Profile Picture"
          class="profile-pic"
        />
        <span class="name">LinkedIn Rewrite</span>
        <span class="privacy">Post to Anyone</span>
      </div>
      <div class="input-area">
        <textarea
          placeholder="What do you want to talk about?"
          id="postInput"
          name="postInput"
        ></textarea>
        <div class="actions">
          <div class="actionButton">
            <div class="checkbox-con">
              <input id="emojiNeeded" type="checkbox" checked />😀
            </div>
            <!-- <button id="emoji-btn">😀</button> -->
          </div>
          <div class="actionButton">
            <button
              id="robot-btn"
              onclick="window.open('https://github.com/zpratikpathak')"
            >
              &#128420;
            </button>
            <button id="add-btn">#</button>
            <!-- <button id="post-btn" disabled>Post</button> -->
            <button id="doc-btn" onclick="copyText()">
              Copy&nbsp;
              <span class="svgIcon"></span>
              <svg
                fill="black"
                viewBox="0 0 384 512"
                height="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M280 64h40c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128C0 92.7 28.7 64 64 64h40 9.6C121 27.5 153.3 0 192 0s71 27.5 78.4 64H280zM64 112c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320c8.8 0 16-7.2 16-16V128c0-8.8-7.2-16-16-16H304v24c0 13.3-10.7 24-24 24H192 104c-13.3 0-24-10.7-24-24V112H64zm128-8a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"
                ></path>
              </svg>
            </button>
            <button id="rewrite-btn" class="rewrite-btn" type="submit">
              <span id="button-text">Rewrite with AI✨</span>
              <div id="spinner" style="display: none"></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    function writeText(text, placeholder = false, callback = null) {
      const responseAI = text;
      const postInput = document.getElementById("postInput");
      let i = 0;
      if (placeholder) {
        postInput.value = ""; // Clear the input box
      }
      const typingEffect = setInterval(() => {
        const currentText = responseAI.slice(0, i);
        if (placeholder) {
          postInput.placeholder = currentText;
        } else {
          postInput.value = currentText;
          adjustHeight(); // Adjust the height after changing the value
        }
        i++;
        if (i > responseAI.length) {
          clearInterval(typingEffect);
          console.log("writeText completed");
          if (callback) {
            callback();
          }
        }
      }, 30);
    }

    function sendData() {
      var postInput = document.getElementById("postInput").value;
      var emojiNeeded = document.getElementById("emojiNeeded").checked;
      var rewriteBtn = document.getElementById("rewrite-btn");
      var spinner = document.getElementById("spinner");
      var buttonText = document.getElementById("button-text");
    
      const data = {
        postInput: postInput,
        emojiNeeded: emojiNeeded,
        htagNeeded: true,
      };
    
      if (postInput.length < 10) {
        const responseAI = "Please write more to generate a professional response";
        writeText(responseAI, true);
        return;
      }
    
      rewriteBtn.disabled = true;
      spinner.style.display = "inline-block";
      buttonText.style.display = "none";
    
      fetch("{% url 'rewrite' %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          // "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify(data),
      })
        .then((response) => {
          if (!response.ok) {
            if (response.status === 429) {
              throw new Error("Too Many Requests");
            } else {
              throw new Error("An error occurred");
            }
          }
          return response.json();
        })
        .then((data) => {
          if (!data || !data.rewriteAI) {
            showToast("An error occurred");
            return;
          }
    
          console.log("Success:", data.success);
          console.log("Message:", data.rewriteAI);
          console.log("data:", data);
    
          const responseAI = data.rewriteAI;
          writeText(responseAI, false, function () {
            rewriteBtn.disabled = false;
            spinner.style.display = "none";
            buttonText.style.display = "inline-block";
          });
        })
        .catch((error) => {
          console.error(error);
          showToast(error.message);
    
          rewriteBtn.disabled = false;
          spinner.style.display = "none";
          buttonText.style.display = "inline-block";
        });
    }
    
    const rewriteBtn = document.getElementById("rewrite-btn");
    rewriteBtn.addEventListener("click", sendData);
  </script>
  <script src="{% static './rewrite/script.js'%}"></script>
</html>
